.adoption_form_history-container {
    margin: 2% 5%;
    height: 80%;
    width: 90%;
    font-family: var(--font-inter);
}

.adoption_form_history-container .adoption_form_history-table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.adoption_form_history-table thead tr{
    background-color: #FAFAFA;
}
.adoption_form_history-table thead tr th{
    font-size: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.adoption_form_history-table thead tr th:nth-of-type(1) {
    width: 80%;
}
.adoption_form_history-table thead tr th:nth-of-type(2) {
    width: 20%;
    border-left: 1px solid #f0f0f0;
}


.adoption_form_history-table tbody tr:hover{
    background-color: #FAFAFA;
    transition: all 0.3s ease;
}
.adoption_form_history-table tbody tr td{
    font-size: 15px;
    border-bottom: 1px solid #f0f0f0;
    transition: all 0.3s ease;
}
.adoption_form_history-table tbody tr td:nth-of-type(1){
    width: 10%;
    text-align: center;   
}
.adoption_form_history-table tbody tr td:nth-of-type(2){
    width: 57%;
    padding-left: 13%;
    /* border-left: 1px solid #f0f0f0; */
}
.adoption_form_history-table tbody tr td:nth-of-type(3){
    width: 20%;
    text-align: center;   
    border-left: 1px solid #f0f0f0;
}

/* chỉnh màu nút phân trang */
.adoption_form_history-container :where(.css-dev-only-do-not-override-11lehqq).ant-pagination .ant-pagination-item-active a {
    color: #f2c23d !important;
}
.adoption_form_history-container :where(.css-dev-only-do-not-override-11lehqq).ant-pagination .ant-pagination-item-active {
    border-color: #f2c23d !important;
}