.search {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.search .input-search {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    width: 20%;
    height: 35px;
    font-size: 14px;

}

.search .btn-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    margin-left: 15px;
    height: 35px;
    width: 100px;
    border: 1px solid var(--color-btn-auth);
    background-color: var(--color-btn-auth);
    border-radius: 8px;
}

.search .create {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1%;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: var(--color-btn-auth);
    color: white;
    cursor: pointer;
}

.action {
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

/* chỉnh nút edit delete */
.ant-btn-default {
    margin-right: 8px !important;
}

/* chỉnh nút Cancel */
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: #f2c23d !important;
    border-color: #f2c23d !important;
    background: #ffffff !important;
}

/* chỉnh nút OK */
.ant-btn-primary {
    background-color: #f2c23d !important;
    box-shadow: 0px 5px 30px 0px rgba(248, 208, 100, 0.11);
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: #f2b818 !important;
}

/* chỉnh thanh Select */
.ant-select-selector:hover {
    border-color: #f8d064 !important;
}

.ant-select-focused .ant-select-selector {
    border-color: #f8d064 !important;
    box-shadow: 0 0 0 1px #f8d064 !important;
}

/* Chỉnh input number */
.ant-input-number-outlined:hover {
    border-color: #f8d064 !important;
}

.ant-input-number-outlined:focus-within {
    border-color: #f8d064 !important;
    box-shadow: 0 0 0 1px #f8d064 !important;
}

/* chỉnh màu nút phân trang */
.ant-pagination .ant-pagination-item-active {
    border-color: #f2c23d !important;
}
.ant-pagination .ant-pagination-item-active a {
    color: #f2c23d !important;
}
/* chỉnh màu nút go to page khi hover và focus */
.ant-pagination .ant-pagination-options-quick-jumper input:hover {
    border-color: #f2c23d !important;
}

.ant-pagination .ant-pagination-options-quick-jumper input:focus,
.ant-pagination .ant-pagination-options-quick-jumper input:focus-within {
    border-color: #f2c23d !important;
    box-shadow: 0 0 0 3px rgba(242, 194, 61, 0.1) !important;
}