.pet-container{
    max-width: var(--max-screen-width);
    width: 100%;
    padding: 0px 0 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: #F3F8FF;
}

.pet-container .pet-unadopted{
    width: 100%;
}


.pet-slide {
    width: 100%;
    position: relative;
    background-color: #F3F8FF;
    max-height: 700px;
}
.pet-slide img{
    width: 100%;
    height: fit-content;
}
.pet-slide .background-3{
    position: absolute;
    width: 65%;
    height: 25%;
    bottom: -10%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 100px;
    filter: blur(5px);
}
.pet-slide .content-3{
    font-size: 30px;
    font-weight: unset;
    color: white;
    font-family: var(--font-inter);
    position: absolute;
    bottom: -6%;
    right: 10%;
    color: #141660;
    font-style: italic;
}

.pet-unadopted .pet-filter{
    padding-top: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Các lớp như css-dev-only-do-not-override-11lehqq là lớp định danh động được Ant Design tạo trong runtime, 
có thể thay đổi sau mỗi lần build. Điều này khiến các rule CSS tùy chỉnh không áp dụng được. */
/* chỉnh màu thanh Search */
/* .pet-filter :where(.css-dev-only-do-not-override-11lehqq).ant-input-outlined:hover {
    border-color: #f8d064 !important;
    background-color: #ffffff !important;
}
.pet-filter :where(.css-dev-only-do-not-override-11lehqq).ant-input-outlined:focus-within{
    border-color: #f8d064 !important;
    box-shadow: 0 0 0 2px rgba(248, 208, 100, 0.1) !important
} */

/* chỉnh màu nút Search */
/* .pet-filter :where(.css-dev-only-do-not-override-11lehqq).ant-btn-primary{
    background: #f8d064 !important
}
.pet-filter :where(.css-dev-only-do-not-override-11lehqq).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background: #f2c23d !important
} */

/* chỉnh màu thanh Select */
/* .pet-filter .ant-select-selector:hover {
    border-color: #f8d064 !important;
}

.pet-filter .ant-select-focused:where(.css-dev-only-do-not-override-11lehqq).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    border-color: #f8d064 !important;
    box-shadow: 0 0 0 1px #f8d064 !important;
} */

 /* chỉnh màu thanh Search */
.pet-filter .ant-input:hover {
    border-color: #f8d064 !important;
    background-color: #ffffff !important;
}

.pet-filter .ant-input:focus {
    border-color: #f8d064 !important;
    box-shadow: 0 0 0 2px rgba(248, 208, 100, 0.1) !important;
}
/* chỉnh màu nút Search */
.pet-filter .ant-btn-primary {
    background: #f8d064 !important;
}

.pet-filter .ant-btn-primary:hover {
    background: #f2c23d !important;
}
/* chỉnh màu thanh Select */
.pet-filter .ant-select-selector:hover {
    border-color: #f8d064 !important;
}

.pet-filter .ant-select-focused .ant-select-selector {
    border-color: #f8d064 !important;
    box-shadow: 0 0 0 1px #f8d064 !important;
}


.pet-unadopted .pet-unadopted-list{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 9% 0 11%;
}

.pet-unadopted-list .title{
    width: 100%;
    text-align: center;
    font-family: var(--font-inter);
    font-weight: bold;
    color: #02033B;
    font-size: 40px;
    margin: 50px 0 10px;
}

.pet-unadopted-list .not-found {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pet-unadopted-list .not-found img {
    width: 723px;
    height: 550px;
}

.pet-unadopted-list .not-found .no-pet {
    width: 100%;
    font-size: 18px;
    color: gray;
    text-align: center;
    font-family: var(--font-inter);
}

.pet-unadopted-list .pet-unadopted-item{
    width: 26%;
    margin: 30px 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    /* background-color: rgb(253, 248, 244); */
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(65 65 68 / 20%);
    position: relative;
    overflow: hidden;
}
.pet-unadopted-list .pet-unadopted-item:hover{
    box-shadow: 2px 2px 10px rgba(186, 205, 62, 0.2)
}

.pet-unadopted-item img{
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.pet-unadopted-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(157, 135, 92, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.pet-unadopted-item:hover .overlay {
    opacity: 1;
}

.pet-unadopted-item .overlay .view-more-button {
    background-color: #C1B081;
    padding: 10px 20px;
    border-radius: 25px;
    color: black;
    cursor: pointer;
    font-family: var(--font-inter);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.9;
    transition: 0.3s ease;
    border: none;
}

.pet-unadopted-item .overlay .view-more-button:hover {
    background-color: #d4a218;
}

.pet-unadopted-item .pet-unadopted-item-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-inter);
    font-size: 14px;
}

.pet-unadopted-item-info p:nth-of-type(1){
    width: 40%;
    padding-left: 10%;
    text-transform: capitalize;
    margin-block-start: 1.5em;
    margin-block-end: 0.5em; 
}
.pet-unadopted-item-info p:nth-of-type(2){
    width: 45%;
    padding-left: 5%;
    text-transform: capitalize;
    margin-block-start: 1.5em;
    margin-block-end: 0.5em;
}
.pet-unadopted-item-info p:nth-of-type(3){
    width: 40%;
    padding-left: 10%;
    text-transform: capitalize;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.pet-unadopted-item-info p:nth-of-type(4){
    width: 45%;
    padding-left: 5%;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    /* text-align: end; */
}
.pet-unadopted-item-info p:nth-of-type(5){
    width: 100%;
    padding: 0 5%;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    height: fit-content;
}


/* chỉnh màu nút phân trang */
.pet-unadopted-list .ant-pagination .ant-pagination-item-active {
    border-color: #f2c23d !important;
}
.pet-unadopted-list .ant-pagination .ant-pagination-item-active a {
    color: #f2c23d !important;
}
/* chỉnh màu nút go to page khi hover và focus */
.pet-unadopted-list .ant-pagination .ant-pagination-options-quick-jumper input:hover {
    border-color: #f2c23d !important;
}

.pet-unadopted-list .ant-pagination .ant-pagination-options-quick-jumper input:focus,
.pet-unadopted-list .ant-pagination .ant-pagination-options-quick-jumper input:focus-within {
    border-color: #f2c23d !important;
    box-shadow: 0 0 0 3px rgba(242, 194, 61, 0.1) !important;
}


/* các pet đã được nhận nuôi */
.pet-container .pet-adopted-list{
    width: 100%;
    margin-bottom: 50px;
    /* background-image: linear-gradient(#F7C95F, #FDB235); */
}

.pet-adopted-list .title{
    width: 100%;
    text-align: center;
    font-family: var(--font-inter);
    font-weight: bold;
    color: #02033B;
    font-size: 40px;
}

.pet-adopted-list .pet-adopted-list-img{
    max-width: var(--max-screen-width);
    width: 70%;
    padding: 0 15%;
    margin-top: 8px;
    max-height: 700px;
    height: fit-content;
}

.pet-adopted-list-img .custom-carousel .slick-prev,
.pet-adopted-list-img .custom-carousel .slick-next {
    color: rgb(167, 167, 167);
}

.pet-adopted-list-img .custom-carousel .slick-prev::after,
.pet-adopted-list-img .custom-carousel .slick-next::after {
    width: 30px;
    height: 30px;
    top: 2px;
    border-inline-width: 10px 0;
    border-block-width: 10px 0;
    border-radius: 5px;
    inset-inline-start: 45px;
}

.pet-adopted-list-img .custom-carousel .slick-next::after {
    inset-inline-start: -70px;
}
.pet-adopted-list-img .slide{
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
}
 
.pet-adopted-list-img .slide img{
    width: 22%;
    height: 220px;
    margin: 20px 30px;
    border-radius: 25px;
    object-fit: cover;
}



/* css for slide */
@media (max-width: 1286px) {
    .pet-slide .background-3 {
        height: 30%;
    }
    .pet-slide .content-3 {
        font-size: 25px;
        right: 5%;
        bottom: 2%;
    }
}
@media (max-width: 1180px) {
    .pet-slide .content-3 {
        font-size: 22px;
    }
}
@media (max-width: 1080px) {
    .pet-slide .content-3 {
        font-size: 20px;
    }
}
@media (max-width: 990px) {
    .pet-slide .content-3 {
        font-size: 18px;
    }
}
@media (max-width: 900px) {
    .pet-slide .content-3 {
        font-size: 16px;
    }
}
@media (max-width: 830px) {
    .pet-slide .content-3 {
        font-size: 14px;
        bottom: 2%
    }
}
@media (max-width: 730px) {
    .pet-slide .background-3 {
        width: 75%;
    }
}
@media (max-width: 640px) {
    .pet-slide .background-3 {
        width: 85%;
    }
    .pet-slide .content-3 {
        bottom: 0
    }
}
@media (max-width: 560px) {
    .pet-slide .background-3 {
        width: 85%;
    }
    .pet-slide .content-3 {
        font-size: 12px;
    }
}
@media (max-width: 480px) {
    .pet-slide .content-3 {
        font-size: 10px;
    }
}
@media (max-width: 400px) {
    .pet-slide .content-3 {
        font-size: 9px;
    }
}