.payment_successful-whole-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    height: fit-content;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    background-color: rgb(250, 246, 246);
}

.payment_successful-container {
    max-width: var(--max-screen-width);
    width: 100%;
    margin-top: 50px;
    font-family: var(--font-inter) ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.payment_successful-container button{
    width: 10%;
    padding: 0.75% 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #F92F60;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    position: absolute;
    top: -20px;
    left: 30px;
}
.payment_successful-container button:hover { 
    background-color: #de063c;
    transition: 0.3s ease;
}

.payment_successful-container .title{
    width: 100%;
    text-align: center;
}
.payment_successful-container .content{
    width: 100%;
    text-align: center;
    margin: 0.5% 0;
    font-style: italic;
}

/* Lịch sử đơn hàng */
.payment_successful-container .payment_successful-invoice {
    width: 40%;
    margin: 2% 12.5% 5%;
    padding: 2.5% 7% 5%;
    background-color: #FAFAFA;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
}

.payment_successful-invoice h1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #02033B;
    margin-bottom: 3%;
}

.payment_successful-invoice .invoice-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.payment_successful-invoice .invoice-content p {
    padding-bottom: 1%;
    border-bottom: 1px dotted #a0a0a0;
}
.payment_successful-invoice .invoice-content p:nth-of-type(1) {
    width: 30%;
}
.payment_successful-invoice .invoice-content p:nth-of-type(2) {
    width: 70%;
    text-align: right;
}



.payment_successful-invoice .invoice-table{
    width: 100%;
    margin-top: 2%;
}

.payment_successful-invoice .invoice-table thead tr th{
    padding-bottom: 2%;
}

.payment_successful-invoice .invoice-table tbody .category-title th{
    text-align: center;
    padding: 1.5% 0 1.5% 0;
    background-color: #f0f0f0;
}
.payment_successful-invoice .invoice-table tbody tr td{
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
    font-size: 15px;
    text-align: center;
}
.payment_successful-invoice .invoice-table tbody tr td:nth-of-type(1){
    display: flex;
}
.payment_successful-invoice .invoice-table tbody tr td:nth-of-type(1) img{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(#ededed, #E7EFFA);
    border-radius: 20px;
}
.payment_successful-invoice .invoice-table tbody tr td:nth-of-type(1) p{
    margin: 10% 0 10% 5%
}