.product_detail-container {
    max-width: var(--max-screen-width);
    width: 100%;
    background-color: #F3F8FF;
    padding: 50px 0 80px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.product_detail-container .back-to-products {
    width: 100%;
}

.back-to-products .breadcrumb {
    padding-left: 3%;
    /* font-size: 15px; */
    font-family: var(--font-inter);
}

.back-to-products .breadcrumb .b-title-1 {
    color: rgb(44, 44, 44);
    padding: 6px 10px 3px;
    border-radius: 5px;
}

.product_detail-container .not-found {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* chỉnh dấu /  */
:where(.css-dev-only-do-not-override-11lehqq).ant-breadcrumb .ant-breadcrumb-separator {
    color: black;
    padding-top: 0.3%;
}

.back-to-products .breadcrumb .b-title-2 {
    color: rgb(61, 61, 61);
    text-transform: capitalize;
    cursor: pointer;
    margin: 0;
    padding: 6px 10px 3px;
    border-radius: 5px;
}

.back-to-products .breadcrumb .b-title-2:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.product_detail-container .title {
    width: 100%;
    font-family: var(--font-inter);
    font-weight: bold;
    font-size: 35px;
    color: #02033B;
    text-align: center;
    margin: 1% 0 5px;
}

.product_detail-container .sub-title {
    width: 100%;
    text-align: center;
    font-family: var(--font-inter);
    color: #02033B;
    font-size: 18px;
    margin: 1% 0 3%;
}

.product_detail-height{
    display: flex;
    flex-wrap: wrap;
    min-height: 450px;
}

.product_detail-left {
    width: 45%;
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
    position: relative; /* Để hỗ trợ căn chỉnh hình ảnh */
}

.product_detail-left img {
    border-radius: 25px;
    background-image: linear-gradient(#ededed, #E7EFFA);
    min-width: 60%;
    width: auto; /* Đảm bảo ảnh không vượt quá container */
    /* mấy dòng dưới này mới quan trọng */
    height: 100%; /* Đảm bảo chiều cao đầy đủ */
    max-height: 100%; /* Đảm bảo không vượt quá container cha */
    position: absolute; /* Đảm bảo hình ảnh giữ được tỷ lệ trong container */
}

.product_detail-right {
    width: 50%;
}

.product_detail-right .product_detail-content {
    width: 70%;
    padding: 2% 8% 3%;
    background-image: linear-gradient(#ededed, #E7EFFA);
    /* background-color: yellow; */
    border-radius: 50px;
    font-family: var(--font-inter);
    /* text-transform: capitalize; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.product_detail-right .product_detail-content span{
    font-weight: 600;
}
.product_detail-content .product_detail-name {
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 3%;
}

.product_detail-content .product-detail-description {
    font-size: 18px;
    width: 100%;
}

.product_detail-content .product_detail-code,
.product_detail-content .product_detail-category,
.product_detail-content .product_detail-price,
.product_detail-content .product_detail-support{
    width: 50%;
    font-size: 17px;
    margin: 1.5% 0;
}
/* .product_detail-content .product_detail-code p,
.product_detail-content .product_detail-category p{
    margin: 0 !important;
} */

.product_detail-content .product_detail-rating {
    border-top: 1px solid #b3b3b3;
    width: 50%;
    padding-top: 5%;
    margin-top: 5%;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    flex-wrap: wrap;
}

.product_detail-content .product_detail-old_price {
    border-top: 1px solid #b3b3b3;
    width: 50%;
    margin: 0;
    padding-top: 5%;
    margin-top: 5%;
    text-align: end;
    font-size: 18px;
}

.product_detail-content .product-detail-quantity_wanted {
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 2%;
}
.product_detail-content .product-detail-quantity_wanted button {
    width: 30px;
    margin: 0 15px;
    padding: 5px 0;
    text-align: center;
    font-size: 17px;
    background-color: rgb(251, 250, 250);
    border-radius: 5px;
    border: 1px solid rgba(82, 82, 82, 0.8);
    cursor: pointer;
    transition: 0.3s ease;
}
.product_detail-content .product-detail-quantity_wanted button:hover {
    background-color: rgb(237, 237, 237);
    transition: 0.3s ease;
}

.product_detail-content .product_detail-quantity{
    width: 50%;
    margin-top: 5%;
    text-align: right;
    font-size: 17px;
}

.product_detail-right .add_to_cart-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.product_detail-right .add_to_cart-btn button {
    width: 41%;
    margin: 5% 0;
    padding: 15px 20px;
    background-color: #FFC247;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s ease;
}

.product_detail-right .add_to_cart-btn button:hover {
    background-color: #ffb521;
    width: 43%;
    transition: 0.3s ease;
}

.product_detail-right .add_to_cart-btn button:disabled {
    background-color: #d3d3d3;
    width: 43%;
    color: #555555;
    cursor: not-allowed;
    opacity: 0.8;
    border: 1px solid #ccc;
}









/* comment */
.product_detail-container .comment {
    width: 90%;
    padding: 4% 0 0 10%;
    display: flex;
    flex-wrap: wrap;
}

.comment .comment-rating {
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 1.5%;
    font-family: var(--font-inter);
}

.comment textarea {
    width: 85%;
    padding: 2% 3% 3% 3%;
    resize: none;
    /*không cho chỉnh chiều rộng*/
    overflow: hidden;
    /* không cho chỉnh chiều dài */
    font-family: var(--font-inter);
    font-size: 17px;
    border-radius: 60px;
}

.comment textarea:focus {
    outline: none;
}

.comment .send-comment-btn {
    width: 90%;
    padding-top: 1.5%;
    text-align: end;
}

.send-comment-btn button {
    padding: 15px 20px;
    background-color: #FFC247;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s ease;
}

.send-comment-btn button:hover {
    background-color: #ffb521;
    padding: 15px 22px;
    transition: 0.3s ease;
}

.product_detail-container .list-comment {
    width: 80%;
    padding: 0 10%;
}

/* filter comments */
.product_detail-container .rating-filter {
    padding: 2% 10%;
    width: 80%;
}

/* chỉnh nút */
:where(.css-dev-only-do-not-override-11lehqq).ant-btn-default {
    font-family: var(--font-inter);
    background-color: white;
    color: black;
    border: 1px solid #d9d9d9;
    margin-right: 8px;
}

:where(.css-dev-only-do-not-override-11lehqq).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: #f2c23d;
    border-color: #f2c23d;
    background: #ffffff;
}

.rating-filter-btn.active {
    background-color: #ff9090;
    /* Màu sáng khi nút được chọn */
    color: white;
    border: 1px solid #ff9090;
}


/* list-comment */
.list-comment .comment-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #b3b3b3;
    padding: 2% 0 1%;
}

.comment-item .comment-user-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 2%;
}

.comment-item .comment-text {
    font-family: var(--font-inter);
}

.comment-text .comment-username {
    margin: 0 0 2%;
    font-weight: bold;
}

.comment-text .comment-user-rating {}

.comment-text .comment-user-content {}

.list-comment .no-comment {
    margin-top: 2%;
    font-family: var(--font-inter);
    text-align: center;
    color: lightslategray
}

/* chỉnh màu nút phân trang */
.list-comment .ant-pagination .ant-pagination-item-active {
    border-color: #f2c23d !important;
}
.list-comment .ant-pagination .ant-pagination-item-active a {
    color: #f2c23d !important;
}
/* chỉnh màu nút go to page khi hover và focus */
.list-comment .ant-pagination .ant-pagination-options-quick-jumper input:hover {
    border-color: #f2c23d !important;
}

.list-comment .ant-pagination .ant-pagination-options-quick-jumper input:focus,
.list-comment .ant-pagination .ant-pagination-options-quick-jumper input:focus-within {
    border-color: #f2c23d !important;
    box-shadow: 0 0 0 3px rgba(242, 194, 61, 0.1) !important;
}