.product-container{
    max-width: var(--max-screen-width);
    width: 100%;
    background-color: #F3F8FF;
}
.product-slide {
    width: 100%;
    position: relative;
    background-color: #F3F8FF;
    max-height: 700px;
}
.product-slide img{
    width: 100%;
    height: fit-content;
}
.product-slide .background-4{
    position: absolute;
    width: 50%;
    height: 75%;
    top: 15%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    filter: blur(1px);
}
.product-slide .product-group-text-4{
    position: absolute;
    top: 25%;
    left: 3%;
}
.product-group-text-4 .content-4 {
    font-size: 25px;
    font-weight: unset;
    color: white;
    font-family: var(--font-inter);
    color: #141660;
    font-style: italic;
    text-align: center;
    line-height: 40px;
}

.product-group-text-4 .detail-btn {
    margin-top: 3%;
    margin-left: 8%;
    padding: 15px 20px;
    background-color: #FFC247;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s ease;
}

.product-group-text-4 .detail-btn:hover {
    background-color: #ffb521;
    padding: 15px 22px;
    transition: 0.3s ease;
}

.product-container .product-list-title{
    width: 80%;
    padding: 5% 9% 0 11%;
    display: flex;
    flex-wrap: wrap;
}
.product-list-title .title{
    width: 100%;
    text-align: center;
    font-family: var(--font-inter);
    font-weight: bold;
    color: #02033B;
    font-size: 40px;
    margin: 50px 0 10px;
}
.product-list-title .sub-title{
    width: 100%;
    text-align: center;
    font-family: var(--font-inter);
    color: #02033B;
    font-size: 18px;
    margin: 0.5% 0 2%;
}
.product-list-title .sub-content {
    width: 100%;
    text-align: center;
    font-family: var(--font-inter);
    color: #02033B;
    font-size: 16px;
    margin: 0.25%;
    font-style: italic;
}
.product-list-title .sub-content-2 {
    width: 100%;
    text-align: center;
    font-family: var(--font-inter);
    color: #02033B;
    font-size: 16px;
    margin: 0.75% 0 4%;
    font-style: italic;
}

.product-container .product-filter{
    width: 100%;
    /* padding-top: 150px; */
    padding-bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* chỉnh màu thanh Search */
.product-filter :where(.css-dev-only-do-not-override-11lehqq).ant-input-outlined:hover {
    border-color: #f8d064 !important;
    background-color: #ffffff !important;
}
.product-filter :where(.css-dev-only-do-not-override-11lehqq).ant-input-outlined:focus-within{
    border-color: #f8d064 !important;
    box-shadow: 0 0 0 2px rgba(248, 208, 100, 0.1) !important
}

/* chỉnh màu nút Search */
.product-filter :where(.css-dev-only-do-not-override-11lehqq).ant-btn-primary{
    background: #f8d064 !important
}
.product-filter :where(.css-dev-only-do-not-override-11lehqq).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background: #f2c23d !important
}

/* chỉnh màu thanh Select */
.product-filter .ant-select-selector:hover {
    border-color: #f8d064 !important;
}

.product-filter .ant-select-focused:where(.css-dev-only-do-not-override-11lehqq).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    border-color: #f8d064 !important;
    box-shadow: 0 0 0 1px #f8d064 !important;
}

.product-container .product-list{
    width: 80%;
    padding: 0 9% 0 11%;
    display: flex;
    flex-wrap: wrap;
}

/* .product-list .title{
    width: 100%;
    text-align: center;
    font-family: var(--font-inter);
    font-weight: bold;
    color: #02033B;
    font-size: 40px;
    margin: 50px 0 10px;
}
.product-list .sub-title{
    width: 100%;
    text-align: center;
    font-family: var(--font-inter);
    color: #02033B;
    font-size: 18px;
    margin: 0.5% 0 2%;
}
.product-list .sub-content {
    width: 100%;
    text-align: center;
    font-family: var(--font-inter);
    color: #02033B;
    font-size: 16px;
    margin: 0.25%;
    font-style: italic;
}
.product-list .sub-content-2 {
    width: 100%;
    text-align: center;
    font-family: var(--font-inter);
    color: #02033B;
    font-size: 16px;
    margin: 0.75% 0 2%;
    font-style: italic;
} */

.product-list .not-found {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-list .not-found img {
    width: 723px;
    height: 550px;
}

.product-list .not-found .no-product {
    width: 100%;
    font-size: 18px;
    color: gray;
    text-align: center;
    font-family: var(--font-inter);
}

.product-list .product-item{
    width: 26%;
    margin: 30px 40px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.product-item img{
    width: 100%;
    background-image: linear-gradient(#ededed, #E7EFFA);
    height: 300px;
}

.product-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(157, 135, 92, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-item:hover .overlay {
    opacity: 1;
}

.product-item .overlay .view-more-button {
    background-color: #C1B081;
    padding: 10px 20px;
    border-radius: 25px;
    color: black;
    cursor: pointer;
    font-family: var(--font-inter);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.9;
    transition: 0.3s ease;
    border: none;
}

.product-item .overlay .view-more-button:hover {
    background-color: #d4a218;
}


.product-item .product-name{
    width: 50%;
    font-family: var(--font-inter);
    font-size: 17px;
    font-weight: bold;
    height: 10%;
}
.product-item .product-price{
    width: 50%;
    font-family: var(--font-inter);
    text-align: end;
    font-size: 17px;
    color: rgb(140, 148, 187);
    height: 10%;
}

/* css for slide */
@media (max-width: 1286px) {
    .product-group-text-4 .content-4 {
        font-size: 20px;
        line-height: 30px;
    }
}
@media (max-width: 1170px) {
    .product-group-text-4 .content-4 {
        font-size: 18px;
        line-height: 25px;
    }
}
@media (max-width: 1080px) {
    .product-group-text-4 .content-4 {
        font-size: 16px;
        line-height: 22px;
    }  
    .product-group-text-4 .detail-btn {
        padding: 12px 18px;
        font-size: 15px;
    }
}
@media (max-width: 980px) {
    .product-group-text-4 .content-4 {
        font-size: 14px;
        line-height: 22px;
    }
    .product-group-text-4 .detail-btn {
        padding: 10px 16px;
        font-size: 13px;
    }
}
@media (max-width: 860px) {
    .product-group-text-4 .content-4 {
        font-size: 12px;
        line-height: 20px;
    }
    .product-group-text-4 .detail-btn {
        padding: 8px 12px;
        font-size: 11px;
    }
}
@media (max-width: 740px) {
    .product-group-text-4 .content-4 {
        font-size: 10px;
        line-height: 18px;
    }
    .product-group-text-4 .detail-btn {
        font-size: 10px;
    }
}
@media (max-width: 620px) {
    .product-group-text-4 .content-4 {
        font-size: 8px;
        line-height: 15px;
    }
    .product-group-text-4 .detail-btn {
        font-size: 8px;
    }
}
@media (max-width: 500px) {
    .product-group-text-4 .content-4 {
        font-size: 6px;
        line-height: 13px;
    }
    .product-group-text-4 .detail-btn {
        font-size: 8px;
        padding: 6px 11px;
    }
}
@media (max-width: 380px) {
    .product-group-text-4 .content-4 {
        font-size: 5px;
        line-height: 10px;
    }
    .product-group-text-4 .detail-btn {
        font-size: 6px;
        padding: 5px 10px;
    }
}