.user-whole-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.user-container{
    max-width: var(--max-screen-width);
    width: 100%;
    /* min-height: 120vh;
    height: fit-content; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative; /* để user-container khi width > 1530px (--max-screen-width) thì position: absolute*/
}

.user-left-container{
    width: 18%;
    background-color: #718BE5;
    /* min-height: 100vh;
    height: fit-content; */
}

.user-right-container{
    margin-left: calc(18% - 0.2%); /*nếu position: fixed cho user_menu-container thì mới xài dòng này*/
    /* vì user_menu-container đang margin-left: -0.2% nên ở đây viết v để đừng bị dư 1 khoảng trắng nhỏ */
    width: 82%;
    min-height: 100vh;
    height: fit-content;
    position: relative;
    /* background-color: rgb(249, 245, 245); */
    background-color: white;
    /* margin-top: 10px; */
}

.user-right-container .logo-home{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.user-right-container img:hover{
    background-color: rgb(229, 228, 228);
}
.user-right-container .welcome-user {
    text-align: right;
    font-family: var(--font-inter);
    color: #828282;
    font-size: 22px;
    font-weight: bold;
    padding-right: 3%;
    padding-top: 5%;
    margin: 0;
}

.user-container .info{
    
}
