.user_profile-container{
    margin:  2% 5%;
    height: 80%;
    width: 90%;
    background-color: #F8F8F8;
    font-family: var(--font-inter);
    border-radius: 10px;
    /* box-shadow: 5px 5px 10px rgba(113, 139, 229, 0.5); */
}

.user_profile-container .user_profile-content{
    width: 90%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}

.user_profile-content p{
    width: 12%;
    color: #02033B;
    font-size: 16px;
    margin: 1% 0 0;
}
.user_profile-content input{
    width: 78%;
    padding: 1% 3% 1% 2.5%;
    margin-bottom: 2%;
    border-radius: 20px;
    /* border: 1px solid #02033B; */
    border: none;
    color: #02033B;
    font-size: 15px;
}
.user_profile-content input:focus{
    outline: none;
}
.user_profile-content input::placeholder{
    font-family: var(--font-inter);
}

.user_profile-content .update-save-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.user_profile-content .update-save-btn button{
    width: 20%;
    padding: 1% 0;
    border-radius: 15px;
    border: none;
    background-color: #E88E00;
    color: white;
    font-family: var(--font-inter);
    cursor: pointer;
}

.user_profile-content .update-save-btn button:hover{        
    background-color: #ffb521;
}