.back-to-product-list .ant-breadcrumb .ant-breadcrumb-separator {
    color: black;
    padding-top: 0.1% !important;
}

.create-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.create-product-container .create-product-left-container {
    width: 40%;
}

.create-product-container .create-product-right-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    width: 50%;
}

.create-product-container .create-product-right-container .product-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.create-product-container .create-product-right-container .product-info input {
    height: 38px;
}

.create-product-container .create-product-right-container .product-info .ant-input-number-outlined {
    height: 38px;
}

.create-product-container .create-product-btn {
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.create-product-container .create-product-btn button:disabled {
    background-color: #d3d3d3 !important;
    color: #555555;
    cursor: not-allowed;
    opacity: 0.8;
    border: 1px solid #ccc;
}