.footer-whole-container{
    width: 100%;
    background-color: #02033B;
    height: 60vh;
    display: flex;
    justify-content: center;
    color: white;
}

.footer-container{
    max-width: var(--max-screen-width);
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    padding: 70px;
    display: flex;
}


.footer-left{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.footer-left .title{
    word-spacing: 5px;
    font-size: 20px;
    margin-bottom: 50px;
}

.footer-left .footer-contact{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.footer-contact .footer-logo{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: 40px;
}

.footer-left .policy{
    width: 100%;
    display: flex;
    font-size: 10px;
}
.footer-left .policy p{
    font-size: 12px;
    font-weight: lighter;
    margin-right: 50px;
    cursor: pointer;
}
.footer-left .policy p:hover{
    text-decoration: underline;
}

.footer-left .content{
    font-size: 12px;
    font-weight: lighter;
}


.footer-middle{
    width: 30%
}

.footer-middle .title{
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
.footer-middle .content{
    color: #FFC247
}
.footer-middle .content span{
    margin-left: 30px;
}


.footer-right{
    width: 40%;
}
.footer-right .footer-register{
    background-color: #FFC247;
    padding: 5px 30px;
    margin: 0 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.footer-register p {
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.footer-register button{
    background-color: #02033B;
    color: white;
    padding: 10px 15px;
    margin: 10px 0 15px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
}
.footer-register button:hover{
    background-color: #414144;
    transition: 0.3s ease;
}

.footer-register img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 65px;
    right: -20px;
    opacity: 0.6;
    transform: rotate(-35deg)
}