:root {
    --max-screen-width: 1530px;
    --color-bg-auth: #FEF6E7;
    --color-btn-auth: #D9AB62;
    --font-inter: "Inter", sans-serif;

    --color-font-admin-active: #E88E00;
    --color-font-admin: #868686;
    --color-bg-admin: #f8f8f8;
}

body {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ecedee;
    /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    /* border-radius: 5px; */
}