.vision-container {
    max-width: var(--max-screen-width);
    width: 100%;
}

.vision-slide {
    width: 100%;
    position: relative;
    background-color: #F3F8FF;
    max-height: 700px;
}

.vision-slide img {
    width: 100%;
    height: fit-content;
}

.vision-slide .background-2 {
    position: absolute;
    width: 50%;
    height: 75%;
    top: 15%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.25);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    filter: blur(5px);
}

.vision-slide .vision-group-text-2{
    position: absolute;
    width: 35%;
    top: 22%;
    left: 5%
}
.vision-group-text-2 .title-2{
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: var(--font-inter);
}
.vision-group-text-2 .content-2{
    font-size: 20px;
    font-weight: unset;
    color: white;
    font-family: var(--font-inter);
}
.vision-group-text-2 .contact-us-btn{
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #FFC247;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition:  0.3s ease;
}
.vision-group-text-2 .contact-us-btn:hover{
    background-color: #ffb521;
    padding: 15px 22px;
    transition:  0.3s ease;
}



.vision-content {
    background-image: linear-gradient(#F3F8FF, #E7EFFA);
    width: 100%;
    padding: 80px 0 150px;
    display: flex;
}

.vision-left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.vision-left img {
    width: 550px;
    height: 315px;
    padding-top: 70px;
}

.vision-right {
    width: 50%;
    padding-left: 150px;
}

.vision-right .title {
    color: #02033B;
    font-family: var(--font-inter);
    font-weight: bold;
    font-size: 30px;
}

.vision-right .content {
    color: #02033B;
    font-family: var(--font-inter);
    font-size: 15px;
    line-height: 25px;
    padding: 0 20% 0 0;
}

/* css for slide */
@media (max-width: 1286px) {
    .vision-slide .background-2{
        /* height: 85%; */
        top: 8%
    }
    .vision-slide .vision-group-text-2{
        position: absolute;
        width: 40%;
        top: 13%;
    }
    .vision-group-text-2 .title-2{
        font-size: 27px;
    }
    .vision-group-text-2 .content-2{
        font-size: 17px;
    }
}
@media (max-width: 1100px) {
    .vision-group-text-2 .title-2{
        font-size: 26px;
    }
    .vision-group-text-2 .content-2{
        font-size: 16px;
    }
    .vision-group-text-2 .contact-us-btn{
        margin-top: 10px;
        font-size: 14px;
    }
}
@media (max-width: 1000px) {
    .vision-group-text-2 .title-2{
        font-size: 25px;
    }
    .vision-group-text-2 .content-2{
        font-size: 15px;
    }
    .vision-group-text-2 .contact-us-btn{
        margin-top: 5px;
    }
}
@media (max-width: 940px) {
    .vision-group-text-2 .title-2{
        font-size: 23px;
    }
    .vision-group-text-2 .content-2{
        font-size: 13px;
    }
}
@media (max-width: 860px) {
    .vision-group-text-2 .title-2{
        font-size: 21px;
    }
    .vision-group-text-2 .content-2{
        font-size: 12px;
    }
    .vision-group-text-2 .contact-us-btn{
        font-size: 12px;
    }
}
@media (max-width: 780px) {
    .vision-slide .background-2{
        width: 55%;
    }
    .vision-slide .vision-group-text-2{
        width: 45%;
        top: 12%;
    }
    .vision-group-text-2 .title-2{
        font-size: 19px;
    }
    .vision-group-text-2 .contact-us-btn{
        margin-top: 0px;
        padding: 10px 15px;
    }
}
@media (max-width: 700px) {
    .vision-slide .vision-group-text-2{
        top: 8%;
    }
}
@media (max-width: 670px) {
    .vision-group-text-2 .title-2{
        font-size: 17px;
    }
    .vision-group-text-2 .content-2{
        font-size: 11px;
    }
    .vision-group-text-2 .contact-us-btn{
        font-size: 10px;
    }
}
@media (max-width: 600px) {
    .vision-group-text-2 .title-2{
        font-size: 17px;
    }
    .vision-group-text-2 .content-2{
        font-size: 10px;
    }
}
@media (max-width: 530px) {
    .vision-group-text-2 .title-2{
        font-size: 15px;
    }
    .vision-group-text-2 .content-2{
        font-size: 9px;
    }
    .vision-group-text-2 .contact-us-btn{
        font-size: 8px;
    }
}
@media (max-width: 470px) {
    .vision-group-text-2 .title-2{
        font-size: 12px;
    }
    .vision-group-text-2 .content-2{
        font-size: 8px;
    }
    .vision-group-text-2 .contact-us-btn{
        font-size: 7px;
        padding: 7px 10px;
    }
}
@media (max-width: 410px){
    .vision-slide .background-2{
        height: 80%;
        top: 8%
    }
    .vision-slide .vision-group-text-2{
        top: 5%;
    }
    .vision-group-text-2 .content-2{
        font-size: 7px;
    }
}



/* css for vision */
@media (max-width: 1286px) {
    .vision-left img {
        width: 500px;
        height: 265px;
    }

    .vision-right {
        padding-left: 5%;
    }
}

@media (max-width: 1190px) {
    .vision-content {
        flex-direction: column;
        padding: 80px 0;
    }
    .vision-left {
        width: 100%;
        justify-content: center;
    }  
    .vision-left img {
        width: 550px;
        height: 315px;
        padding-top: 0px;
    }

    .vision-right {
        width: 70%;
        padding: 0 15%;
    }
    .vision-right .content {
        padding: 0;
    }

}
@media (max-width: 800px){
    .vision-left img {
        width: 70%;
        height: fit-content;
    }
}
@media (max-width: 500px){
    .vision-left img {
        height: 195px;
    }
    .vision-right .title {
        font-size: 25px;
        margin: 1em 0 0.5em;
    }
}
@media (max-width: 430px){
    .vision-left img {
        width: 300px;
        height: 175px;
    }
}
@media (max-width: 375px){
    .vision-left img {
        width: 270px;
        height: 155px;
    }
}