.vision-container{
    max-width: var(--max-screen-width);
    width: 100%;
}

.vision-slide {
    width: 100%;
    position: relative;
    background-color: #F3F8FF;
}
.vision-slide img{
    width: 100%;
    height: 700px;
}

.vision-slide .background-2{
    position: absolute;
    width: 50%;
    height: 75%;
    top: 15%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.25);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    filter: blur(5px);
}
.vision-slide .title-2{
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: "Inter", sans-serif;
    position: absolute;
    top: 20%;
    left: 5%
}
.vision-slide .content-2{
    font-size: 20px;
    font-weight: unset;
    color: white;
    font-family: "Inter", sans-serif;
    position: absolute;
    top: 35%;
    left: 5%
}
.vision-slide .contact-us-btn{
    position: absolute;
    top: 75%;
    left: 5%;
    padding: 15px 20px;
    background-color: #FFC247;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition:  0.3s ease;
}
.vision-slide .contact-us-btn:hover{
    background-color: #ffb521;
    padding: 15px 22px;
    transition:  0.3s ease;
}

.vision-content {
    background-image: linear-gradient(#F3F8FF, #E7EFFA);
    width: 100%;
    padding: 80px 0 150px;
    display: flex;
}

.vision-left{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.vision-left img{
    width: 550px;
    height: 315px;
    padding-top: 70px;
}

.vision-right{
    width: 50%;
    padding-left: 150px;
}
.vision-right .title{
    color: #02033B;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.vision-right .content{
    color: #02033B;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 25px;
}