.payment-container {
    max-width: var(--max-screen-width);
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 5% 5%;
    font-family: var(--font-inter);
}

.payment-left{
    width: 45%;
    padding-left: 2%;
    padding-right: 8%;
}

.payment-left .title{
    color: #02033B;         
    font-weight: bold;
    font-size: 25px;
}
.payment-left .sub-title{
    color: #02033B;         
    font-size: 17px;
}

.payment-left .two-input-field{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.payment-left .two-input-field .input-left{ 
    width: 46%;
    margin-right: 4%;
}
.payment-left .two-input-field .input-right{ 
    width: 46%;
    margin-left: 4%;
}
.payment-left .two-input-field .input-left input, 
.payment-left .two-input-field .input-right input{
    padding: 3.5% 2% 3.5% 3% !important;
 }
.payment-left .two-input-field .message-error{
    margin-bottom: 5% !important;
}

.payment-left input{
    width: 100%;
    margin: 1.5% 0;
    padding: 2% 1% 2% 1.5%;
    font-size: 14px;
}
.payment-left input:focus{
    outline: none;
}
.payment-left input::placeholder{
    font-family: var(--font-inter);
}

.payment-left .message-error{
    font-size: 14px;
    margin-top: 1% !important; 
    margin-bottom: 2% !important;
}



.payment-right{
    width: 45%
}
.payment-right .title{
    color: #02033B;         
    font-weight: bold;
    font-size: 24px;
}

.payment-right .payment-info{
    width: 80%;
    padding: 2% 5%;
    display: flex;
    background-color: #fffaf5;
    border-radius: 10px;
    box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.15);
}
.payment-info .payment-info-left{
    width: 50%;
}
.payment-info .payment-info-right{
    width: 50%;
    text-align: right;
}

.payment-info .payment-info-left p:last-child{
    margin-top: 15%;
    border-top: 1px solid gray;
    padding-top: 8%;
}
.payment-info .payment-info-right p:last-child{
    margin-top: 15%;
    border-top: 1px solid gray;
    padding-top: 8%;
}

.payment-right .payment-btn{
    width: 100%;
    margin-top: 6%;
    display: flex;
    justify-content: center;
}
.payment-right .payment-btn button{
    width: 50%;
    font-family: var(--font-inter);
    color: white;
    font-weight: bold;
    background-color: black;
    border: none;
    border-radius: 20px;
    padding: 2% 0;
    margin-right: 5%;
    cursor: pointer;
    transition: 0.5s ease;
}
.payment-right .payment-btn button:hover{
    background-color: #02033B;
    transition: 0.5s ease;
}